<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>

<div class="div1">
    {% for i in menu %}
        <a class="menu" href="{{i.url}}">{{i.name}}</a>
    {% endfor %}
</div>


          <h2>  {{title}} </h2>



          <form action="/createUser" method="POST">
            <input type="text" name="log" placeholder="Логин">
            <input type="password" name="pass" placeholder="Пароль">
            <input type="password"  name="passtwo" placeholder="Повтор пароля">

            <input type="submit" value="Зарегистрироваться">
            {% for msg in get_flashed_messages() %}
            <p style="color:red;">{{msg}}</p>
            {% endfor %}
          </form>


</body>
</html>

